# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore some dirs
.idea
.idea/*
nbproject
nbproject/*
cache
cache/*
tmp
tmp/*
files
files/*
firmas
firmas/*
demos
demos/*
*nbproject*

