<table border="0" cellpadding="0" cellspacing="0" width="100%" id="bodyBackground" style="border-bottom: 1px solid #e7edef;border-top: 1px solid #e7edef;margin:0;paddin:0;">
  <tr>
    <td valign="top" class="headerContainer" style="padding-top:0px; padding-bottom:0px;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="dateBlock">
        <tbody class="dateBlockOuter">
        <tr>
          <td valign="top" style="padding:0px 0px 20px" class="mcnImageBlockInner">
            <table align="right" width="60%" border="0" cellpadding="10" cellspacing="0" class="dateContentContainer">
              <tbody>
              <tr>
                <td>
                  <img alt="Codiga" src="/sites/all/modules/custom/sipi/img/codiga_150px.png"/>
                </td>
                <td class="dateContent" valign="middle" style="font-size: 14px; color: #333333; padding-left: 20px; padding-right: 20px; text-align: right;">
                  Actualizado al {{longdate}}
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="dateBlock">
              <tbody class="dateBlockOuter">
              <tr>
                <td class="lines label">Cliente:</td><td class="lines">{{clientName}}</td>
                <td class="lines label">Fecha de inicio:</td><td class="lines">{{startDate}}</td>
              </tr>
              <tr>
                <td class="lines label">Sitio:</td><td class="lines">{{siteName}}</td>
                <td class="lines label">Artículos publicados:</td><td class="lines">{{numItems}}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td valign="top" style="padding:0px 0px 5px" class="mcnImageBlockInner">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="dateBlock">
              <tbody class="dateBlockOuter">
              <tr>
                <td class="lines">{{listItems}}</td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
