.Hind-Regular {
    font-family: Hind-Regular;
}

#wrapper-page-site {
    .wrapper-image-background {
        height: 600px;
        overflow: hidden;
        //min-height: 600px;
        background-color: #000;        
    }
}

.bg-messaje-send-form {
    top: 0px;
    position: fixed;
    z-index: 999;
    background-repeat: repeat;
    @include measures(100%,100%);
    background-image: url("/web/img/bg/bg_menu_movil.png");
}

.wrapper-messaje-form {
    left: 0;
    top: 25%;
    padding: 3%;
    color: #000;
    z-index: 9999;
    text-align: center;
    //max-width: 1024px;
    position: absolute;
    //position: fixed;
    background-color: #FFF;
    @include measures(94%,auto);
    .messaje-send {
        font-size: 30px;
        margin-bottom: 15px;
        @extend .Hind-Regular;
    }
    .messaje-interest  {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 15px;
        @extend .Hind-Regular;
    }
    .messaje-contact {
        font-size: 30px;
        @extend .Hind-Regular;
    }
    .wrapper-messaje-form-btn {
        margin: 0 auto;
        padding: 3% 0 0 0;
        @include measures(200px,auto);
    }
}

.wrapper-image-background {
    max-width: 100%;
    margin-bottom: -5px;
    .bg-degradado{
        bottom: 0px;
        background-image: url("../img/bg/dnota_top.png");
        @include measures(100%,23px);
    }
    .wrapper-section-background {
        top: 0px;
        @include measures(100%,auto);
        .wrapper-form-afiliate{
            //padding-top: 8%;
            padding: 5% 0;
        }
        .form-afiliate, .form-anunciate {
            margin: 0 auto;
            max-width: 700px;
            //padding-bottom: 10px;
            background-color: #f2f2f2;
            @include measures(100%,auto);
            .afiliate-title {                
                color: #F69222;
                font-size: 25px;
                padding: 10px 0;
                @extend .Hind-Bold;
                background-color: #E4E4E4;
            }
            .form-block, .form-block-term {
                margin-top: 20px;
                padding: 5px 0;                
            }
            .form-block {                
                background-color: #E4E4E4;
            }
            .form-block-term, .form-block-term a {
                color: #000;
                @extend .Hind-Light;
            }
            .form-block-term a:hover {
                text-decoration: none;
            }
            span > label {
                vertical-align: middle;
            }
            .label-name {
                color: #000;
                font-size: 18px;
                display: inline-block;
                @extend .Hind-Light;
                margin-left: 3%;
                @include measures(30%,auto);
            }
            .label-input {
                display: inline-block;
                @include measures(60%,auto);
                input[type="text"] {
                    max-width: 100%;
                    @include measures(100%,25px);
                }
            }
            .afiliate-btn {
                //max-width: 50px;
                margin: 0 auto;
                padding: 10px 0;
                overflow: hidden;
                background-color: #FFF;
                border: none !important;                
                @include measures(100%,28px);
                .btn-publish {                    
                    line-height: 0px;
                    @include measures(200px,44px);
                }                
                /*input[type="button"] {
                    color: #FFF;
                    border: none;
                    font-size: 14px;
                    @extend .Hind-Bold;
                    background-color: #F69222;
                    @include measures(90px,30px);
                    @include border-radius(8px);
                }
                input[type="button"]:hover {
                    cursor: pointer;
                    background-color: #EE914F;
                }*/
            }
            .form-bottom {
                height: 20px;
            }
        }
    }
}