.Hind-Regular {
    font-family: Hind-Regular;
}
.Hind-Light {
    font-family: Hind-Light;
}

#wrapper-page-site {
    .wrapper-image-background {
        background-color: #E2E4E3;
        background-image: url("/web/img/afiliate/desktop/1920/1920.jpg");
        background-repeat: no-repeat;
    }
}

.bg-messaje-send-form {
    top: 0px;
    position: fixed;
    z-index: 999;
    background-repeat: repeat;
    @include measures(100%,100%);
    @include transition(all 1s ease);
    background-image: url("/web/img/bg/bg_menu_movil.png");
}

.wrapper-messaje-form {
    left: 0;
    top: 25%;
    padding: 3%;
    color: #000;
    z-index: 9999;
    text-align: center;    
    position: absolute;    
    background-color: #FFF;
    @include measures(94%,auto);
    @include transition(all 1s ease);
    .messaje-send {
        font-size: 30px;
        margin-bottom: 15px;
        @extend .Hind-Regular;
    }
    .messaje-interest  {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 15px;
        @extend .Hind-Regular;
    }
    .messaje-contact {
        font-size: 30px;
        @extend .Hind-Regular;
    }
    .wrapper-messaje-form-btn {
        margin: 0 auto;
        padding: 3% 0 0 0;
        @include measures(200px,auto);
    }
}

.wrapper-image-background {
    max-width: 100%;
    margin-bottom: -5px;    
    .wrapper-section-background {
        @include measures(100%,auto);        
        .wrapper-form-afiliate{
            padding: 4% 0;
            .form-frase {
                font-size: 28px !important;
                color : #3D3D3D;
                font-weight: bold;
                font-family: Hind-Bold !important;
            }
        }        
        .form-afiliate, .form-anunciate {
            margin: 0 auto;
            //max-width: 700px;            
            //background-color: #f2f2f2;
            @include measures(50%,auto);
            .txt-info {
                margin: 0 auto;               
                font-size: 20px;
                line-height: 22px;
                color: #3d3d3d;
                @extend .Hind-Light;
                @include measures(94%,auto);
                .bold {
                    color: #3C3C3C;
                    font-size: 20px;
                    @extend .Hind-Bold;
                }                
            }
            .black {
                    color: #000 !important;
                }
            .txt-firts {                
                color: #3D3D3D;
                //margin: 0 auto;
                font-size: 35px;
                margin-top: 10px;
                @extend .Hind-Bold;
                padding: 0 4%;
                //@include measures(94%,auto);
            }
            .txt-second {
                padding: 0 4%;
                color: #3D3D3D;
                font-size: 20px;
                line-height: 22px;
                margin: 10px 0;
                @extend .Hind-Light;
            }
            .logo-invent {
                margin: 0 auto;                
            }
            .afiliate-title {
                color: #3D3D3D;
                font-size: 45px;
                //padding: 10px 0;
                @extend .Hind-Bold;
                margin: 0 auto;
                @include measures(94%,auto);
            }            
            .group-items {
                padding: 3%;
                margin: 0 auto;
                background-color: #f2f2f2;
                border: 1px solid #cacaca;
                @include border-radius(3px);
                @include  measures(88%,auto);
            }
            .group-items-0 {
                margin: 0 auto 4px;
            }
            .group-items-1 {
                margin-bottom: 4px;
            }
            .form-block-term {            
                margin-top: 20px;
                padding: 5px 0;                
            }            
            .form-block-term, .form-block-term a {
                color: #000;
                @extend .Hind-Light;
            }
            .form-block-term a:hover {
                text-decoration: none;
            }
            span > label {
                vertical-align: middle;
            }            
            .label-input {
                display: inline-block;
                @include measures(48%,auto);                
                input[type="text"] {
                    max-width: 100%;
                    padding: 2% 3%;
                    //background-color: #f2f2f2;
                    background-color: #FFF;
                    @extend .Hind-Regular;
                    border: 1px solid #cacaca;                    
                    @include border-radius(3px);
                    @include measures(94%,25px);
                }
                textarea {
                    padding: 1.8%;
                    max-width: 96%;
                    //background-color: #f2f2f2;
                    background-color: #FFF;
                    @extend .Hind-Regular;
                    border: 1px solid #cacaca;                    
                    @include border-radius(3px);
                    @include measures(96%,35px);
                }
            }
            .input-producto {                
                @include measures(100%,auto);
            }
            .input-name, .input-mail {
                margin-right: 3%;
            }
            .txt-field-required {
                color: #898989;
                margin: 0 auto;
                display: block;
                padding: 15px 0;
                @extend .Hind-Semibold;
                @include measures(93.5%,auto);
            }
            .afiliate-btn {                
                margin: 0 auto;                
                padding-bottom: 35px;
                overflow: hidden;                
                border: none !important;                
                @include measures(100%,35px);
                .btn-publish {                    
                    line-height: 0px;
                    max-width: 300px;
                    @include measures(100%,44px);
                }                
                /*input[type="button"] {
                    color: #FFF;
                    border: none;
                    font-size: 14px;
                    @extend .Hind-Bold;
                    background-color: #F69222;
                    @include measures(90px,30px);
                    @include border-radius(8px);
                }
                input[type="button"]:hover {
                    cursor: pointer;
                    background-color: #EE914F;
                }*/
            }            
        }
        .form-anunciate {
            .input-mail {
                margin-right: 0px;
                @include measures(100%,auto);
            }
            .input-mail input[type="text"] {
                padding: 1.8%;
                @include measures(96%,auto);
            }
        }
        
        .wrapper-image-section {
            @include measures(50%,auto);
            img {
                max-width: 100%;
                @include measures(100%,auto);
            }
        }
        .image-section-anunciate {
            margin-top: 3%;
        }
        .image-section-afiliate {
            margin-top: 7%;
        }
        
    }
}