#page-case-exito {
    //margin: 0 auto;
    //max-width: 1024px;
    #section-table-case-exito {
        background-color: #F1F1F1;
    }
    @include measures(100%,auto);
    .wrapper-case-items {
        min-height: 300px;
        @include measures(100%,auto);
        &.even {
            background-image: url("/web/img/caso-de-exito/desktop/bg_volkswagen.jpg");
        }
        &.odd {            
            background-color: #F1F1F1;
            .wrapper-description-case {
                .head-case {
                    color: #000; 
                }
                color: #000; 
            }
        }
        /*&.item-0 {
            background-image: url("/web/img/caso-de-exito/desktop/bg_volkswagen.jpg");
        }
        &.item-1 {
            color: #000;
            background-color: #F1F1F1;
        }
        &.item-2 {
            background-image: url("/web/img/caso-de-exito/desktop/bg_bridgestone.jpg");
        }*/
        .wrapper-description-case {
            @include measures(50%,auto);            
            /*.logo-case-volskwagen {
                @extend .sprite-invent;
                @include img-position(98px,99px,-379px,-2766px);
            }
            .logo-case-revlon {
                @extend .sprite-invent;
                @include img-position(198px,46px,-164px,-2793px);
            }
            .logo-case-bridgestone {
                @extend .sprite-invent;
                @include img-position(98px,91px,-50px,-2755px);            
            }*/
            color: #FFF;
            font-size: 16px;
            line-height: 18px;
            @extend .Hind-Regular;
            
            .logo-case{
                max-width: 198px;
                img {
                    @include measures(100%,auto);
                }
            }
            
            .head-case {
                color: #FFF;
                font-size: 30px;
                @extend .Hind-Bold;
                & > span {
                    vertical-align: middle;
                }
            }
            
            h2 {
                margin: 10px 0;
                color: #E58436;
                font-size: 20px;
                line-height: 24px;
                @extend .Hind-Bold;
            }
            
            /*.titles {
                margin: 10px 0;
                color: #E58436;
                font-size: 20px;
                line-height: 24px;
                @extend .Hind-Bold;
            }*/
            /*.description {
                color: #FFF;
                font-size: 16px;
                line-height: 18px;
                @extend .Hind-Regular;
            }*/
        }
        .wrapper-image-case {
            margin-left: 3%;
            @include measures(47%,auto);
            img {
                max-width: 100%;
                @include measures(100%,auto);
            }            
        }        
    }
    
    /*.main-sections-tools {
        margin: 0 auto;
        padding-top: 25px;
        @include measures(80%,auto);
        li {
            margin-left: 3%;            
            @include measures(48.5%,auto);            
            &:first-child {
                margin-left: 0;
            }
            .ico-media-kit {
                margin-top: -7px;
                @extend .sprite-invent;
                @include img-position(39px,37px,-57px,-2868px);
            }
            a {                
                & > span {
                    vertical-align: middle;
                }                
                height:23px;                
            }            
        }
    }*/
    
    .title-seccion-invent {
        font-size: 30px;
        //margin: 35px 0 20px 0;
    }
    ul.wrapper-table-case-exito {
        padding: 10px 0 36px 0;
        li.box-item {
            text-align: center;
            @include measures(19.7%,auto);
            border-right: 1px solid #363636;
            &:first-child {
                border-left: 1px solid #363636;
            }
            .type-case {
                margin: 8px 0;
                color: #E58436;
                font-size: 18px;
                @extend .Hind-Bold;
            }
            .title-case {                
                color: #848484;
                font-size: 16px;
                margin-top: 5px;
                @extend .Hind-Medium;
            }
            .content-case {                
                color: #848484;
                font-size: 16px;
                margin-top: 5px;
                @extend .Hind-Bold;
            }
        }        
    }
    
    section.main-footer {
        height: 36px;
    }
    
}