@font-face {
    font-weight: normal;
    font-style: normal; }

$urlCdn: "http://b384e0c28d6eb2031bcd-5a7dc0e66d3274435cc3e35ca0fc37f5.r77.cf2.rackcdn.com/fuentes";

@font-face {
  font-family: 'Hind-Bold';
  src: url("../fuentes/Hind-Bold/Hind-Bold.eot");
  src: url("../fuentes/Hind-Bold/Hind-Bold.otf?#iefix") format("embedded-opentype"),
      url("../fuentes/Hind-Bold/Hind-Bold.woff") format("woff"),
      url("../fuentes/Hind-Bold/Hind-Bold.ttf") format("truetype"),
      url("../fuentes/Hind-Bold/Hind-Bold.svg#Hind-Bold") format("svg");
}

@font-face {
  font-family: 'Hind-Light';
  src: url("../fuentes/Hind-Light/Hind-Light.eot");
  src: url("../fuentes/Hind-Light/Hind-Light.otf?#iefix") format("embedded-opentype"),
      url("../fuentes/Hind-Light/Hind-Light.woff") format("woff"),
      url("../fuentes/Hind-Light/Hind-Light.ttf") format("truetype"),
      url("../fuentes/Hind-Light/Hind-Light.svg#Hind-Light") format("svg");
}

@font-face {
  font-family: 'Hind-Medium';
  src: url("../fuentes/Hind-Medium/Hind-Medium.eot");
  src: url("../fuentes/Hind-Medium/Hind-Medium.otf?#iefix") format("embedded-opentype"),
      url("../fuentes/Hind-Medium/Hind-Medium.woff") format("woff"),
      url("../fuentes/Hind-Medium/Hind-Medium.ttf") format("truetype"),
      url("../fuentes/Hind-Medium/Hind-Medium.svg#Hind-Medium") format("svg");
}

@font-face {
  font-family: 'Hind-Regular';
  src: url("../fuentes/Hind-Regular/Hind-Regular.eot");
  src: url("../fuentes/Hind-Regular/Hind-Regular.otf?#iefix") format("embedded-opentype"),
      url("../fuentes/Hind-Regular/Hind-Regular.woff") format("woff"),
      url("../fuentes/Hind-Regular/Hind-Regular.ttf") format("truetype"),
      url("../fuentes/Hind-Regular/Hind-Regular.svg#Hind-Regular") format("svg");
}

@font-face {
  font-family: 'Hind-Semibold';
  src: url("../fuentes/Hind-Semibold/Hind-Semibold.eot");
  src: url("../fuentes/Hind-Semibold/Hind-Semibold.otf?#iefix") format("embedded-opentype"),
      url("../fuentes/Hind-Semibold/Hind-Semibold.woff") format("woff"),
      url("../fuentes/Hind-Semibold/Hind-Semibold.ttf") format("truetype"),
      url("../fuentes/Hind-Semibold/Hind-Semibold.svg#Hind-Semibold") format("svg");
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("#{$urlCdn}/SourceSansPro-Bold/SourceSansPro-Bold.eot");
  src: url("#{$urlCdn}/SourceSansPro-Bold/SourceSansPro-Bold.otf?#iefix") format("embedded-opentype"),
      url("#{$urlCdn}/SourceSansPro-Bold/SourceSansPro-Bold.woff") format("woff"),
      url("#{$urlCdn}/SourceSansPro-Bold/SourceSansPro-Bold.ttf") format("truetype"),
      url("#{$urlCdn}/SourceSansPro-Bold/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url("#{$urlCdn}/SourceSansPro-Semibold/SourceSansPro-Semibold.eot");
  src: url("#{$urlCdn}/SourceSansPro-Semibold/SourceSansPro-Semibold.otf?#iefix") format("embedded-opentype"),
      url("#{$urlCdn}/SourceSansPro-Semibold/SourceSansPro-Semibold.woff") format("woff"),
      url("#{$urlCdn}/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf") format("truetype"),
      url("#{$urlCdn}/SourceSansPro-Semibold/SourceSansPro-Semibold.svg#SourceSansPro-Semibold") format("svg");
}