@media only screen and (max-width: 700px) {

    /*body {
        background-color: orange;
    }*/
    
    #page-case-exito {
        #section-case-de-exito {
            display: none;
        }
    }
    
    .wrapper-table-formats {
        display: none;
    }

    .Hind-Bold {
        font-family: Hind-Bold;
    }

    .invent-mobile-sprite {
        background-image: url("../img/sprites/sprite_movil.png");
        background-repeat: no-repeat;
    }

    header {
        .wrapper-header {
            min-height: 50px;
            max-width: 1024px;
            margin: 0 auto;
            //overflow: hidden;
            @include measures(100%,auto);
            .wrapper-site-logo {   
                //padding-top: 4px;
                @include measures(25%,auto);
            }
            /*.site-invent{
                margin: 0 auto;
                @extend .invent-mobile-sprite;
                @include img-position(121px, 37px,-59px,-27px);
            }*/
            .wrapper-main{
                display: block;
                margin: 7px 5% 0 0;
                .main-center{
                    margin: 0 auto;
                    display: block;
                    @extend .invent-mobile-sprite;
                    @include img-position(37px, 37px,-59px,-80px);
                }
            }            
            ul {                
                top: 50px;
                left: 0px;
                z-index: 9999;
                display: none;
                position: absolute;
                //background-color: #000;
                background-image: url("/web/img/bg/bg_menu_movil.png");
                @include measures(100%,auto);
                li {
                    float: none;
                    display: block;
                    margin: 0 auto;
                    padding: 10px 0;
                    //margin-right: 0px;
                    overflow: hidden;
                    border-right: none;
                    @include measures(94%,auto);
                    border-bottom: 2px solid #C3833E;
                    a {                        
                        display:block;
                        font-size: 14px;
                        text-align: left;
                        margin-left: 10px;
                        font-family: Hind-Bold;
                        &:hover {
                            color: #C3833E;
                        }
                    }
                }
            }
        }
    }

    #wrapper-page-site {
        max-width: 1950px;
        min-height: 285px;
    }        

    .wrapper-image-section1 {
        max-width: 100%;
        margin-bottom: -3px;        
        .wrapper-publish-stage {
            display: none;
        }

    }

    ul.red-invent-sections {
        li.sections-img {
            width: 47.5%;
            margin: 0 0 15px 5%;
        }
        li.sections-img-box-0, li.sections-img-box-2 {
            margin-left: 0%;
        }        
    }

    ul.red-invent-sections-sites {
        li.sections-sites {
            width: 48.3% !important;
        }
    }

    .wrapper-red-videos {
        padding: 0px;        
    }

    ul.red-invent-sections-sites {        

        li.sections-sites-0, li.sections-sites-1 {
            min-height: 205px !important;
            overflow: hidden;
        }
        li.sections-sites-2, li.sections-sites-3 {
            min-height: 185px !important;
            overflow: hidden;
        }
        li.sections-sites-5, li.sections-sites-6 {
            min-height: 215px !important;
            overflow: hidden;
        }
        li.sections-sites-8 {
            min-height: 218px !important;
            overflow: hidden;
        }
        li.sections-sites-9 {
            min-height: 210px !important;
            overflow: hidden;
        }
        li.sections-sites-10, li.sections-sites-11 {
            min-height: 175px !important;
            overflow: hidden;
        }
        li.sections-sites-12, li.sections-sites-13 {
            min-height: 170px !important;
            overflow: hidden;
        }
        li.sections-sites-14, li.sections-sites-15 {
            min-height: 190px !important;
            overflow: hidden;
        }

        li.sections-sites-0, li.sections-sites-2, li.sections-sites-4, li.sections-sites-6,
        li.sections-sites-8, li.sections-sites-10, li.sections-sites-12, li.sections-sites-14 {
            border-right: 1px solid #cacaca;
        }
        li.sections-sites-1, li.sections-sites-3, li.sections-sites-5, li.sections-sites-7,
        li.sections-sites-9, li.sections-sites-11, li.sections-sites-13, li.sections-sites-15 {
            border-right: none !important;
        }

        li.sections-sites-4, li.sections-sites-5 {
            padding-top: 5px;
        }
        li.sections-sites-11 {
            padding-top: 8px;
        }
        li.sections-sites-15 {
            padding-top: 14px;
        }

        .tag-movil {
            display: block;
        }

    }

    #home-accordion {
        .title-seccion-invent {
            padding-top: 13px !important;
            font-size: 20px;
            line-height: 24px;
            margin: 0px !important;
            background-color: #000;            
            border-top: 1px solid #FFF;
            @include measures(100%,35px);
            background-image: url("../img/gradients/home-header-accordion.jpg");            
            span {
                color: #FFF;                
            }
        }
        .title-seccion-invent > span {
            vertical-align: middle;
        }        
    }

    .ui-icon-triangle-1-s {
        display: inline-block;
        @extend .invent-mobile-sprite;
        @include img-position(21px, 21px, -62px, -121px);
    }
    .ui-icon-triangle-1-e {
        display: inline-block;
        @extend .invent-mobile-sprite;
        @include img-position(21px, 21px, -83px, -121px);
    }

    ul.red-invent-sections-sites {
        li.sections-sites {
            span.site-excelsior {
                margin: 0 auto 16px;
                @extend .invent-mobile-sprite;
                @include img-position(135px, 31px, -72px, -203px);                
                //width: 144px;
                //height: 28px;
                //background-position: -56px -757px;
            }
            span.site-imagen {
                @extend .invent-mobile-sprite;
                @include img-position(126px, 57px, -72px, -247px);                
            }
            span.site-reporte {
                @extend .invent-mobile-sprite;
                @include img-position(128px, 24px, -74px, -383px);                
            }
            span.site-cadenatres {
                @extend .invent-mobile-sprite;
                @include img-position(133px, 40px, -72px, -316px);                
            }
            span.site-dineroenimagen {
                @extend .invent-mobile-sprite;
                @include img-position(128px, 44px, -74px, -434px);                
            }
            span.site-salud180 {
                margin: 0 auto 16px;
                @extend .invent-mobile-sprite;
                @include img-position(123px, 38px, -70px, -550px);                
            }
            span.site-actitudfem {
                @extend .invent-mobile-sprite;
                @include img-position(142px, 36px, -73px, -804px);                
            }
            span.site-rsvp {
                @extend .invent-mobile-sprite;
                @include img-position(104px, 36px, -90px, -860px);
            }
            span.site-melodijolola {
                @extend .invent-mobile-sprite;
                @include img-position(138px, 51px, -74px, -748px);
            }
            span.site-atraccion360 {
                margin: 0 auto 23px;
                @extend .invent-mobile-sprite;
                @include img-position(116px, 30px, -85px, -926px);
            }
            span.site-adrenalina360 {
                @extend .invent-mobile-sprite;
                @include img-position(155px, 27px, -62px, -500px);
            }
            span.site-garuyo {
                @extend .invent-mobile-sprite;
                @include img-position(114px, 41px, -90px, -970px);
            }
            span.site-swagger {
                @extend .invent-mobile-sprite;
                @include img-position(115px, 38px, -89px, -1027px);
            }
            span.site-gamedots {
                margin: 0 auto 4px;
                @extend .invent-mobile-sprite;
                @include img-position(126px, 51px, -79px, -1085px);
            }
            span.site-estrategia45 {
                //margin: 0 auto 4px;
                @extend .invent-mobile-sprite;
                @include img-position(136px, 37px, -82px, -1188px);
            }
            span.site-fahrenheit {
                //margin: 0 auto 4px;
                @extend .invent-mobile-sprite;
                @include img-position(136px, 24px, -78px, -1153px);
            }
        } 
    }

    section.main-footer {
        display:block;        
        ul {
            max-width: 1024px;
            background-color: #E58436;
            @include measures(100%,41px);
            li.items-main {
                text-align: center;
                border-left: 2px solid #FFF;
                //background-color: #E58436;
                //@include measures(48%,auto);
                @include measures(49.7%,auto);
                a {
                    color: #FFF;
                    font-size: 16px;
                    padding: 12px 0;
                    font-family: Hind-Bold;
                    //@extend .Hind-Bold;
                }
            }
            li:first-child {
                //margin-right: 3%;
                border-left: none;
            }
        }
    }
    
    /* audiencias y contenidos */
    #page-audiencias-contenidos {
        .wrapper-description {
            .audiencia-info {
                display: none;
            }
        }
    }
    
    /* markerts   */
    #page-marketers {
        
        .wrapper-site-markerts {            
            display: none;
        }
        
        .wrapper-description {
            .marketers-info {
                display: none;
            }
        }
        section {
            background-color: #F1F1F1;
        }
        .marketers-info.versus-mobile {
            padding: 40px 0;
            color: #000;
            display: block;
            font-size: 15px;
            line-height: 18px;
            font-family: Hind-Regular;
            background-color: #f1f1f1;
            ul {
                margin: 0 auto;
                max-width: 1024px;
                @include measures(85%,auto);
                li {
                    list-style: inside;
                    list-style-type: square;                    
                }
            }
        }
    }
    

    footer {
        min-height: 50px;
        //padding: 10px 0 3px 0;
        //background-color: #1A1A1A;
        @include measures(100%,auto);    
        .footer-content-site-invent {
            //margin: 0 auto;
            //max-width: 1024px;
            //@include measures(93.5%,auto);    
            .footer-site-invent {
                margin: 0 auto;
                @extend .invent-mobile-sprite;
                @include img-position(154px, 29px,-60px,-154px);
            }        
        }        
    }

    /* videos talentos */
    #page-video-talento {
        .wrapper-red-videos {
            //background-color: orange;
            .title-seccion-invent{
                font-size: 26px;
            }
            .home-perfil-colaboradores{                
                ul li {
                    &.box-items{
                        text-align: left;
                        padding: 2% 0 2% 0;                        
                        //margin-top: 5px;
                        margin: 5px 0 0 0;
                        @include measures(100%,auto);
                        border-bottom: 2px solid #FFF;
                    }
                    &.box-items:first-child {
                        margin-top: 0px;
                    }
                    .wrapper-image {
                        float: left;
                        @include measures(30%,auto);
                    }
                    .wrapper-description{
                        & > span {
                            vertical-align: middle;
                        }
                        float: left;
                        margin-left:3%;
                        padding-top: 10%;
                        @include measures(65%,auto);
                        .name-editor {
                            float: left;                            
                            @include measures(100%,auto);
                        }
                        .type-content {
                            float: left;                            
                            @include measures(100%,auto);
                        }
                    }                    
                }
            }
        }
    }


    /* afilite */
    .wrapper-image-background {
        min-height: 520px;
    }


    /* caso  de exito */

    #page-case-exito {
        .wrapper-case-items {
            .wrapper-description-case {
                .head-case {
                    font-size: 22px;
                }
                .logo-case-volskwagen{
                    @extend .invent-mobile-sprite;
                    @include img-position(51px,53px,-74px,-2299px);
                }
                .logo-case-revlon {
                    @extend .invent-mobile-sprite;
                    @include img-position(107px,22px,-142px,-2316px);
                }
                .logo-case-bridgestone {
                    @extend .invent-mobile-sprite;
                    @include img-position(55px,48px,-260px,-2302px);
                }
            }
        }
    }
    
    /* audiencias y contenidos  */
    #page-audiencias-contenidos {
        background-color: #F1F1F1;
        
        .wrapper-content-section1 {
            .wrapper-description {
                margin-top: 15%;
                .audiencia-title {
                    font-size: 26px;
                }
            }
        }
        
        ul.red-invent-sections-sites {             
            @include transition(all 1s ease);
            padding: 0px;
            li.bg-caca {
                height: 0px;
                display: none;                
            }
            li.sections-sites.active {  
                @include transition(all 1s ease);
                span.ico-sumary-active {
                    display: block;
                    top: 15%;
                    @extend .invent-mobile-sprite;
                    @include img-position(19px, 19px, -84px, -122px);
                }
                .site-sumary {                    
                    display: block;
                    padding-top: 5px;
                    line-height: 18px;
                    @include transition(left 0.2s ease);
                }
            }
            li.sections-sites {
                border-right: none;
                position: relative;
                width: 100% !important;                
                height: auto !important;                
                padding: 10px 0 !important;
                min-height: 40px !important;
                border-bottom: 2px solid #FFF;                
                @include transition(all 1s ease);
                .site-sumary {
                    display: none;
                }            
                span {
                    margin-bottom: 0px;
                }
                span.ico-sumary-active {
                    display: block;
                    position: absolute;
                    top: 27%;
                    right: 15%;
                    @extend .invent-mobile-sprite;
                    @include img-position(19px, 19px, -63px, -122px);                    
                }
                span.site-bienestar180{
                    margin: 0 auto 15px;
                    @extend .invent-mobile-sprite;
                    @include img-position(132px, 27px, -63px, -605px);
                }
                span.site-sexualidad180{
                    margin: 0 auto 15px;
                    @extend .invent-mobile-sprite;
                    @include img-position(129px, 24px, -71px, -653px);
                }
                span.site-enforma180{
                    margin: 0 auto 15px;
                    @extend .invent-mobile-sprite;
                    @include img-position(125px, 24px, -74px, -705px);
                }
            }
        }
    }    
    
    /* site especifico */
    #page-perfil-sitio {        
        .main-sections-tools {
            @include measures(100%,auto);
            li {
                a {
                    height: 18px;
                } 
            }
        }
        .btn-publish {
            font-size: 12px;            
        }        
    }
    
    /* perfil  talento */
    #page-perfil-talento {
        .main-sections-tools {
            @include measures(100%,auto);
        }
        .btn-publish {
            font-size: 12px;
            height: 17px;
        }        
    }
    
    /* graficas */
    
    
    
}

@media only screen and (max-width: 695px) {
    .wrapper-our-services ul {
        li.services-sites{
            min-height: 225px;
        }
    }    
}

@media only screen and (max-width: 625px) {
    .wrapper-our-services ul {
        li.services-sites span.title{
            height: 32px;
        }
    }
    .home-perfil-colaboradores ul {
        li{            
            @include measures(28%,auto);            
        }
        li.box-0, li.box-3,li.box-6, li.box-9,li.box-12, li.box-15, 
        li.box-18, li.box-21,li.box-24, li.box-27 {
            margin-left: 0%;
        }
    } 
}

@media only screen and (max-width: 560px) {
    .wrapper-our-services ul {
        li.services-sites{
            min-height: 240px;
        }
    }

    /*caso  de exito */
    #page-case-exito {
        .wrapper-case-items {
            .wrapper-description-case, .wrapper-image-case {
                @include measures(100%,auto);
            }
            .wrapper-image-case {
                margin-left: 0px;
                text-align: center;
                padding-top: 25px;
                img {
                    @include measures(85%,auto);
                }
            }
        }
    }

    /* caso  de exito */
    #page-case-exito {
        .main-sections-tools {
            @include measures(100%,auto);
        }
        .btn-publish {
            font-size: 16px;
        }
    }    

}

@media only screen and (max-width: 484px) {
    .wrapper-our-services ul {
        li.services-sites {
            min-height: 255px;
        }
    }    
}

@media only screen and (max-width: 470px) {
    #page-marketers {
        .wrapper-description {
            .marketers-title {
                color: #FFF;
                font-size: 25px;
            }
        }
    }
    
    .wrapper-bars {
        text-align: center;
        @include measures(180px,auto);
        div {
            float: none !important;
        }
        .age-users {
            padding: 15px 0;
            @include measures(100%,auto);
        }
        .content-visit {
            padding-top: 20px;
            @include measures(100%,auto);
        }
    }
    
}

@media only screen and (max-width: 450px) {        

    .home-perfil-colaboradores ul {
        li {
            margin-left: 4%;
            @include measures(42%,auto);
            .name-editor {
                font-size: 16px;
            }
            .type-content {
                font-size: 14px;
            }
        }
        li.box-0, li.box-2, li.box-4, li.box-6, li.box-8, li.box-10, li.box-12, li.box-14,
        li.box-16, li.box-18, li.box-20, li.box-22, li.box-24, li.box-26 {
            margin-left: 4%;
        }

    } 

    .wrapper-our-services ul {
        li.services-sites {
            padding: 0 2%;            
            margin-left: 2% !important;
            @include measures(45%,auto);            
        }
        li.services-sites-0, li.services-sites-1,
        li.services-sites-2, li.services-sites-3{ 
            min-height: 230px !important;
        }
        li.services-sites-4, li.services-sites-5{ 
            min-height: 260px !important;
        }
        li.services-sites-0, li.services-sites-2, li.services-sites-4 {
            margin-left: 0% !important;
        }
    }

    /* caso  de exito */
    #page-case-exito {
        .wrapper-case-items {            
            .wrapper-image-case {                
                img {
                    @include measures(95%,auto);
                }
            }
        }
    }

}
