@media only screen and (min-width: 980px) {
    
}

@media only screen and (min-width: 738px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {
        width: 23%;
    }
    /*ul.red-invent-sections-sites li.sections-sites {
        width: 22.9%;
    }*/
}

@media only screen and (max-width: 740px) {
    ul.red-invent-sections-sites li.sections-sites {
        width: 22.9%;
    }
}

@media only screen and (min-width: 1150px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 25% !important;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 27% !important;
    }
}
@media only screen and (min-width: 1380px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 29% !important;
    }
}
@media only screen and (min-width: 1480px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 32% !important;
    }
}
@media only screen and (min-width: 1580px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 35% !important;
    }
}
@media only screen and (min-width: 1680px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 38% !important;
    }
}