@media only screen and (max-width: 880px) {
    #page-case-exito {
        ul.wrapper-table-case-exito {
            li.box-item {
                .type-case {
                    font-size: 16px !important;
                }
                .title-case{
                    font-size: 14px;
                }
                .content-case{
                    font-size: 14px;
                }
            }
        }
    }
    
    #page-audiencias-contenidos {
        .wrapper-content-section1 {
            .wrapper-image {
                .width-all {
                    max-width: 100%;
                    width: 100% !important;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 840px) {
    #page-marketers {
        .wrapper-table-formats {
            .body-table {
                .box-table{
                    font-size: 12px;
                }
            } 
        }
    }
    
    .wrapper-bars {
        @include measures(445px,auto);
        .content-visit {
            padding-top: 20px;
            @include measures(220px,auto);
        }
    }
    
}

@media only screen and (max-width: 800px) {
    
    /*.site-invent {
        background-image: url("../img/sprites/sprite_movil.png") !important;
        background-repeat: no-repeat;
    }*/
    
    header {
        ul li {
            margin-top: 15px;
            a {
                font-size: 11px;
            }
        }
        .wrapper-header {
            .wrapper-site-logo {   
                padding-top: 4px;
                @include measures(25%,auto);
            }
            .site-invent {
                margin: 0 auto;
                background-repeat: no-repeat;
                @include img-position(121px, 37px,-59px,-27px);
                background-image: url("../img/sprites/sprite_movil.png");                
            }
            /*.site-invent {
                margin: 0 auto;
                //@extend .sprite-movil;                
                @include img-position(121px, 37px,-59px,-27px);
            }*/
        }
    }

}

@media only screen and (min-width: 738px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {
        width: 23%;
    }
    /*ul.red-invent-sections-sites li.sections-sites {
        width: 22.9%;
    }*/
}

@media only screen and (max-width: 740px) {
    ul.red-invent-sections-sites li.sections-sites {
        width: 22.9%;
    }        
    
    /* audiencias */
    #page-audiencias-contenidos {
        .wrapper-content-section1 {
            .wrapper-description {
                margin-right: 0%;
                @include measures(50%,auto);
            }
            .wrapper-image {
                @include measures(50%,auto);
            }
        }
    }
    
}

@media only screen and (min-width: 1150px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 25% !important;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 27% !important;
    }
}
@media only screen and (min-width: 1380px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 29% !important;
    }
}
@media only screen and (min-width: 1480px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 32% !important;
    }
}
@media only screen and (min-width: 1580px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 35% !important;
    }
}
@media only screen and (min-width: 1680px) {
    .wrapper-image-section2 .wrapper-content-section2 .wrapper-image {        
        width: 38% !important;
    }
}