#page-video-talento {
        
    .home-perfil-colaboradores {
        ul {
            li.sections-perfil-talento {
                .name-editor {
                    height: 27px;
                    font-size: 14px;
                    margin-top: 8px;
                }
            }
        }
    }
    
    #slide-video-talento.wrapper-image-section1 {
        //background-color: #161719;
        background-color: #DDDFDE;
        background-repeat: no-repeat;
        background-image: url("/web/img/perfil-video/desktop/1920/1920.jpg");
        .wrapper-text{
            margin-top: 6%;
            @include measures(50%,auto);
            @include transition(all 1s ease);
            img {                
                max-width: 100%;
                @include measures(100%,auto);
                @include transition(all 1s ease);
            }
            .wrapper-publish-stage {
                margin: 0px;
            }
        }
        .wrapper-image {
            @include measures(50%,auto);
            @include transition(all 1s ease);
            img {                
                max-width: 100%;
                @include measures(100%,auto);
                @include transition(all 1s ease);
            }
        }
    }
    .wrapper-image-section1 {
        img {
            margin-bottom: -3px;
        }
    }
    .wrapper-red-videos {
        padding: 36px 0 15px  0;
    }
}