/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/12/2014, 11:57:23 AM
    Author     : angel
*/

@mixin measures($w: 100%, $h: 100%) {
    width: $w;
    height: $h;
}

@mixin img-position($w: 100%, $h: 100%, $x: -0px, $y: -0px) {
    width: $w;
    height: $h;
    background-position: $x $y;
}

@mixin border($pixel: 2px, $type: solid, $color: #cacaca){
    border: $pixel $type $color;
}

@mixin border-radius($br:7px){
    border-radius: $br;
    -webkit-border-radius: $br;
    -moz-border-radius: $br;
    -o-border-radius: $br;
    -ms-border-radius: $br;
}

@mixin box-shadow($x,$y,$s,$c){
    box-shadow: $x $y $s $c;
    -webkit-box-shadow: $x $y $s $c;
    -moz-box-shadow: $x $y $s $c;
    -o-box-shadow: $x $y $s $c;
    -ms-box-shadow: $x $y $s $c;
}
@mixin transition($transition) {
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
}

#global-page {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1900px;
    min-height: 600px;
}
#wrapper-page-site {
    max-width: 1900px;
    min-height: 600px;
}

@import "cssreset.scss";
@import "helper.scss";
@import "fonts.scss";

//@media only screen and (min-width: 701px) {
.sprite-invent {
    background-image: url("../img/sprites/sprite_desktop.png");
    background-repeat: no-repeat;
}
.sprite-grafics {
    background-image: url("../img/sprites/sprite_grafica.png");
    background-repeat: no-repeat;
}
//}

.Hind-Bold {
    font-family: Hind-Bold;
}
.Hind-Light {
    font-family: Hind-Light;
}
.Hind-Medium {
    font-family: Hind-Medium;
}
.Hind-Regular {
    font-family: Hind-Regular;
}
.Hind-Semibold {
    font-family: Hind-Semibold;
}

body {
    background-color: #1A1A1A;
}

#wrapper-loading-layout {
    border: 1px solid #798F34;
    //border: 1px solid #000;
    width: 31px;
    height: 31px;
    padding: 5px 4px 4px 5px;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 47%;
    z-index: 21;
    border-radius: .8em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -o-border-radius: .8em;
    -ms-border-radius: .8em;
    img {
        //@include measures(100%,auto);
        @include measures(31px,31px);
    }
}


header {
    @include measures(100%,auto);
    background-color: #1A1A1A;
    .wrapper-header {
        min-height: 50px;
        max-width: 1024px;
        margin: 0 auto;
        @include measures(100%,auto);
        .wrapper-site-logo {            
            @include measures(25%,auto);
        }
        .site-invent{
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(195px, 69px,-42px,-84px);
        }
    }
    ul {
        @include measures(580px,auto);
        //@include measures(75%,auto);
    }
    ul {
        display:block;
        li {
            padding: 0 4px;
            //padding: 0 1%;            
            margin-top: 25px;
            //margin-right: 1%;
            margin-right: 4px;
            min-height: 20px;
            text-align: center;
            @include measures(64px,auto);
            //@include measures(13.4%,auto);
            border-right: 1px solid #363636;
            &.main-audiencia-contenido {
                @include measures(155px,auto);
            }
            & > * {
                display: inline-block;
                vertical-align:  middle;
            }
            &.main-red-de-videos {
                @include measures(75px,auto);
            }
            &.main-casos-de-exito {
                @include measures(90px,auto);
            }
            &.main-afiliate {
                @include measures(50px,auto);
            }
            &.main-anunciate {
                border-right: none;
            }
            a {
                @extend .Hind-Light;
                color: #FFF;
                font-size: 12px !important;
                line-height: 16px;
                margin-right: 1%;
            }
            a:hover, a.active {
                color: #e58436;
            }
        }
    }
}

#slide-home {
    &.wrapper-image-section1 {
        background-color: #161719 !important;
        background-repeat: no-repeat;
        background-image: url("/web/img/home/desktop/1920/1920.jpg");
        .wrapper-description {
            @include measures(50%,auto);
            img {
                max-width: 100%;
                @include measures(100%,auto);
            }
        }
        .wrapper-image {            
            @include measures(50%,auto);
            img {
                max-width: 100%;
                @include measures(100%,auto);
            }
        }
        
        .owl-theme .owl-controls .owl-page span {
            @extend .sprite-invent;
            @include img-position(14px,14px,-80px,-193px);
        }
        .owl-theme .owl-controls .owl-page.active span,
        .owl-theme .owl-controls.clickable .owl-page:hover span {
            @extend .sprite-invent;
            @include img-position(14px,14px,-63px,-193px);
        }
        //@extend .sprite-invent;
        //@include img-position(103px,94px,-188px,-553px);
    }
}

.wrapper-publish-stage {
    margin: 0 auto;
    padding-bottom: 40px;
    @include measures(300px,auto);    
}

.btn-publish {    
    color: #FFF;
    border: none;
    font-size: 22px;
    padding: 10px 0px;
    @extend .Hind-Bold;    
    background-color: #E58436;
    @include measures(100%,15px);
    &:hover {
        cursor: pointer;
    }
}

article {
    margin: 0 auto;
    max-width: 1024px;
    @include measures(93.5%,auto);
}

#wrapper-page-site {
    .wrapper-image-section1{
        img {
            margin-bottom: -3px;
        }
        background-color: #F1F1F1;
    }
    #home-accordion {
        background-color: #FFF;
    }
}

.wrapper-image-section1 {
    max-width: 100%;
    img.width-all {
        max-width: 100%;
    }
    .wrapper-content-section1 {
        top: 0px;
        left: 0%;        
        @include measures(100%,auto);
        img {
            max-width: 848px;
            @include measures(80%,auto);
        }
    }
}

.wrapper-image-section2 {
    max-width: 100%;
    img.width-all {
        max-width: 100%;
        min-height: 185px;
        margin-bottom: -5px;
    }
    .wrapper-content-section2 {
        top: 0px;
        left: 0%;
        //max-width: 1024px;
        @include measures(100%,auto);
        .wrapper-image {
            max-width: 500px;
            padding: 2% 0 0 4%;
            @include measures(25%,auto);
            img {
                @include measures(100%,auto);
            }
        }
    }
    .text-info {
        margin: 4% 8% 0 8%;
        @include measures(260px,auto);
        span {
            color: #FDFFFE;
            font-size: 30px;
            @extend .Hind-Bold;
        }
        span:first-child {
            font-size: 18px;
            @extend .Hind-Regular;
        }
    }
}

.wrapper-image-section3 {
    max-width: 100%;
    margin-bottom: -5px;
    img.width-all {
        max-width: 100%;
        margin-bottom: -3px;
    }
    .wrapper-content-section3 {
        top: 0px;
        left: 0%;
        //max-width: 1024px;
        @include measures(100%,auto);        
    }
    .text-info {
        margin: 5% 8% 0 0;
        @include measures(245px,auto);
        span {
            color: #FDFFFE;
            font-size: 35px;
            @extend .Hind-Bold;
        }
        span:first-child {
            font-size: 22px;
            @extend .Hind-Regular;
        }
    }
}

.wrapper-red-videos {
    padding: 85px 0 15px 0;
    background-color: #F1F1F1;
}

.title-seccion-invent {    
    font-size: 50px;
    @extend .Hind-Bold;    
}

.home-perfil-colaboradores {
    ul {
        @include measures(100%,auto);
        li {
            //margin-left: 2%;
            padding: 2%;
            @include measures(19%,auto);
            @include transition(all 1s ease);
            a {
                color: #000;
            }
            .wrapper-image-talento {
                @include transition(all 1s ease);
                img {
                    @include measures(100%,auto);
                    @include transition(all 1s ease);
                }
            }
            .name-editor {
                color: #000;
                font-size: 20px;
                height: 40px;
                overflow: hidden;
                margin-bottom: 5px;
                @extend .Hind-Regular;
            }
            .type-content{
                min-height: 15px;
            }
            .type-content, .type-content a {
                color: #6A6A6A;
                font-size: 16px;
                @extend .Hind-Regular;
            }
        }
    }
}

ul.red-invent-sections {
    margin: 0 auto;
    //max-width: 1024px;    
    //@include measures(93.5%,auto);
    li.sections-img {
        width: 23.5%;
        margin-left: 2%;
        img {
            max-width: 100%;
            @include measures(100%,auto);
        }
    }
    //li:first-child {
    li.sections-img-box-0 {
        margin-left: 0%;
    }

}

ul.red-invent-sections-sites {
    margin: 0 auto;
    padding: 25px 0;
    //max-width: 1024px;
    //@include measures(93.5%,auto);
    li.sections-sites {
        border-top: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
    }
    li.sections-sites-0, li.sections-sites-1, li.sections-sites-2, li.sections-sites-3 {
        border-top: none;
    }
    li.sections-sites-3, li.sections-sites-7, li.sections-sites-11 ,li.sections-sites-15 {
        border-right: none;
    }
    li {        
        span {
            margin-bottom: 0px !important;
        }
        span.tc-middle.wrapper-logo{
            @include measures(100%,55px);
            //height: 55px;
            overflow: hidden;
        }
    }
    li.bg-caca {
        //margin: 0 auto 15px;
        margin: 0 auto;
        background-color: #cacaca;
        @include measures(100%,1px);
    }

    li.sections-sites {
        width: 23.5%;
        padding: 1% .65% 1% .70%;
        span.site-sumary {
            color: #000;
            font-size: 15px;
            @extend .Hind-Light;
        }
        
        /*span.wrapper-logo-site {
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            @include measures(150px,60px);
        }*/
        
        span.site-excelsior {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(144px, 28px,-56px,-757px);
        }
        span.site-imagen, span.site-imagen-radio, span.site-imagenradio {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(140px, 58px,-58px,-809px);
        }
        span.site-reporte,span.site-reporte98, span.site-reporte985, span.site-reporte-985  {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(147px, 25px,-55px,-885px);
        }
        span.site-cadenatres,span.site-cadena-tres {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(151px, 41px,-53px,-927px);
        }

        span.site-dineroenimagen, span.site-dinero-en-imagen {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(144px, 47px,-57px,-988px);
        }
        span.site-salud180 {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(147px, 42px,-56px,-1049px);
        }
        span.site-actitudfem {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(153px, 36px,-52px,-1110px);
        }
        span.site-rsvp {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(120px, 37px,-68px,-1165px);
        }

        span.site-melodijolola {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(143px, 48px,-61px,-1221px);
        }
        span.site-atraccion360 {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(146px, 34px,-57px,-1286px);
        }
        span.site-adrenalina360 {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(150px, 23px,-54px,-1340px);
        }
        span.site-garuyo {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(138px, 45px,-58px,-1393px);
        }

        span.site-swagger {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(149px, 46px,-58px,-1450px);
        }
        span.site-gamedots {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(141px, 52px,-58px,-1509px);
        }
        span.site-estrategia45 {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(149px, 38px,-53px,-1576px);
        }
        span.site-fahrenheit {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(147px, 23px,-55px,-1625px);
        }
    }
}

.wrapper-our-services {
    ul {
        @include measures(100%,auto);        
        li.services-sites-0, li.services-sites-3 {
            margin-left: 0% !important;
        }
        li.services-sites {
            //margin-left: 2%;
            //margin-bottom: 2%;
            margin: 0 0 2% 2%;
            padding: 15px 1%;
            min-height: 190px;
            text-align: center;            
            background-color: #2C2C2C;
            @include measures(30%,auto);
            @include border-radius(.8em);
            span.title {                
                color: #E58437;
                font-size: 16px;
                margin: 8px 0;
                @extend .Hind-Bold;
            }
            span.summary {
                color: #FFF;
                font-size: 14px;
                line-height: 16px;
                @extend .Hind-Light;
            }
            span.img-rich-media {
                margin: 0 auto 20px;
                @extend .sprite-invent;
                @include img-position(103px,88px,-50px,-557px);
            }
            span.img-content-editorials {
                margin: 0 auto 15px;
                @extend .sprite-invent;
                @include img-position(103px,94px,-188px,-553px);
            }
            span.img-mobile {
                margin: 0 auto;
                @extend .sprite-invent;
                @include img-position(60px,100px,-330px,-543px);
            }
            span.img-buzz-marketing {
                margin: 0 auto;
                @extend .sprite-invent;
                @include img-position(112px,110px,-424px,-537px);
            }
            span.img-video {
                margin: 0 auto 28px;
                @extend .sprite-invent;
                @include img-position(93px,90px,-587px,-552px);
            }
            span.img-programatic {
                margin: 0 auto 21px;
                @extend .sprite-invent;
                @include img-position(92px,97px,-725px,-556px);
            }
        }
    }
}

.main-sections-tools {
    margin: 0 auto;
    padding-top: 25px;
    @include measures(80%,auto);
    li {
        margin-left: 3%;            
        @include measures(48.5%,auto);            
        &:first-child {
            margin-left: 0;
        }
        .ico-media-kit {
            margin-top: -7px;
            @extend .sprite-invent;
            @include img-position(39px,37px,-57px,-2868px);
        }
        a {                
            & > span {
                vertical-align: middle;
            }                
            height:23px;                
        }            
    }
}

@import "owlCarousel.scss";
@import "owlTheme.scss";
@import "owlTransitions.scss";

@import "validation_engine.scss";
@import "style_bars.scss";
@import "error404.scss";
@import "audiencias_contenidos.scss";
@import "marketers.scss";
@import "video_talento.scss";
@import "afiliate.scss";
@import "caso_exito.scss";
@import "perfil_talento.scss";
@import "sitio_especifico.scss";

footer {
    min-height: 50px;
    padding: 10px 0 3px 0;
    background-color: #1A1A1A;
    @include measures(100%,auto);    
    .footer-content-site-invent {
        margin: 0 auto;
        max-width: 1024px;
        @include measures(93.5%,auto);    
        .footer-site-invent {
            margin: 0 auto;
            @extend .sprite-invent;
            @include img-position(183px, 34px,-58px,-685px);
        }        
    }
    p {
        color: #FFF;
        font-size: 15px;
        @extend .Hind-Regular;
    }
}


@import "resolution_desktop.scss";
@import "resolution_home.scss";
