/** users profile ***/
#imx-users-profile{
	width: 660px;
	min-height: 180px;
	_height:180px;
	overflow: hidden;
	margin: 1em 15px 0.25em;
	float: left;
}
#imx-users-profile-image{
	width: 175px;
	height: 175px;
	margin: 0px 5px;
	text-align: center;
	vertical-align: middle;
	float: left;
}
.sesion-user{
	display: block;
	float: right;
	margin: 10px 0 ;
	text-align: right;
}
.sesion-user a{
	font-family: 'Droid Serif',serif;
	font-size: 12px;
	text-decoration: none;
	color: #e12;
}
#imx-users-profile-data{
	width: 430px;
	height: 165px;
	margin: 0px 5px;
	overflow: hidden;
	float: left;
	position: relative;
}
.imx-users-title-name{
	text-transform: uppercase;
	margin: 10px 0;
	color: #000;
	font-family: 'Droid Serif',serif;
	font-size: 20px;
}
.imx-users-description{
	font-family: 'Droid Serif',serif;
	font-size: 15px;
	line-height: 19px;
	color: #333;
	margin: 10px 0;
}
.imx-page-web-user{
	font-family: 'Droid Serif',serif;
	font-size: 15px;
	margin: 5px 0;
	color: #369;
}
#imx-users-profile-data .imx-social-users-profile{
	position: absolute;
	bottom: 2px;
	display: table;
	width: 100%;
}
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox {
	width: 100%;
	display: table-row;
}
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox a[class^='twitter-follow-button'],
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox div[class^='fb-follow'],
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox a[class^='addthis_button_']{
	display: table-cell;
	padding: 0;
	margin: 0;
	float: none;
	text-align: center;
	vertical-align: middle;
}
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox a[class^='twitter-follow-button'],
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox div[class^='fb-follow'],
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox a[class^='addthis_button_google_plusone']{
	width: 140px;
}
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox a[id^='twitter-widget']{
	text-align: center;
	float: none;
}
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox [class^="twitter-follow-"]{
	margin: 2px auto !important;
}
#imx-users-profile-data .imx-social-users-profile .addthis_toolbox iframe#twitter-widget-0{
	width: 220px;
	float: none;
	margin: 2px auto 0 !important;
	text-align: center !important;
}