#contentContent {
  width: 655px;
}
#contentContentLeft {
  width: 345px;
}
#contentContentRight {
  width: 310px;
}
#contentContentLeft ul, #contentContentLeft ol{
  padding-left: 0px;
}
#contentContentLeft ul li.itemList {
  width: 100%;
  margin-bottom: 2.142857143em;
}
#contentListLeft .wrapImg {
  width: 315px;
  height: 420px;
}
#contentContentRight .wrapImg {
  width: 310px;
  height: 220px;
}
#contentContentLeft .titleItem {
  font-size: 25px;
  line-height: 27px;
  color: #000;
}
#contentContentRight .titleItem {
  font-size: 25px;
  line-height: 27px;
}
#contentContentLeft .teaserItem {
  color: #000;
  font-size: 15px;
  line-height: 17px;
}
#contentContentRight ul li {
  margin-bottom: 30px;
  text-align: center;
}
.wrapImg img {
  width: 100%;
  height: 100%;
}
