.form-item{
    float: left;
    margin: 30px !important;
}

input.form-submit{
    margin: 0 30px !important;
    clear: both;
    display: block !important;
}

.form-item-gmc-search{
    width: 110px;
}

.imx_gcms_nav{
    background-color: black;
    background-image: url(/sites/all/themes/adaptivetheme/adaptivetheme/adaptivetheme_admin/css/images/blue-button.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    border: 1px solid #fff;
    color: #fff !important;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    margin: 3px 10px 3px 0;
    outline: 1px solid #9babb0;
    padding: 2px 6px;
    -moz-background-size: 100% 200%;
    -webkit-background-size: 100% 200%;
    background-size: 100% 200%;
    -moz-outline-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
}

.field-name-field-gcms-id-source{
    display: none;
}
