/*-*-*-*-*-*-*-*-*-*-*-* Social Networks Styles *-*-*-*-*-*/
.socialItem {
    margin-left: 0.3em;
}
#socialNetworksTop {
    margin: 1.571428571em 0;
}
/*-*-*-*-*-*-*-*-*-*-*-* General Styles *-*-*-*-*-*/
#logo {
    height: 3.785714286em;
    width: 16.071428571em;
    margin-top: 0.714285714em;
}
#logo img {
    width: 100%;
    height: 100%;
}
body {
    background-color: #e2e9e2;
}
#page {
    width: 73.142857143em;
    margin: 0 auto;
    background: #fff;
}
#header {
    width: 71.428571429em;
    height: 5.714285714em;
    margin-left: auto;
    margin-right: auto;
}
#secondaryContent {
    width: 71.428571429em;
    margin: 0 auto;
}
.wrapImg img {
    width: 100%;
    height: 100%;
}
#contentContent {
    width: 46.785714286em;
}
#firstSidebar {
    width: 21.428571429em;
}
.sectionBlock .wrapImg{
    margin: 2.142857143em 0;
}
.sectionBlockLarge .wrapImg{
    width: 80%;
    margin: 2.142857143em auto;
}
.sectionBlock {
    margin: 2em 0;
}
.sectionBlockLarge {
    padding: 2.142857143em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Main Menú Styles *-*-*-*-*-*/
#mainMenu {
    margin: 2.285714286em 0;
}
#mainMenu ul li {
    float: left;
    margin: 0 1.285714286em;
}
#mainMenu ul li a {
    color: #000;
    font-family: HeraBig-Regular;
    font-size: 1.14em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Carrusel Top Styles *-*-*-*-*-*/
#carruselTopWrapper {
    margin-top: 0.642857143em;
}
#carruselTop {
    width: 71.428571429em;
    margin: 0.857142857em auto 0.571428571em;
    height: 32.571428571em;
}
#carruselTop .arrowNext, #carruselTop .arrowPrev {
    z-index: 1;
    top: 13em;
}
#carruselTop .arrowPrev {
    left: 1.428571429em;
}
#carruselTop .arrowNext {
    right: 1.428571429em;
}
#carruselTop .itemCarrusel {
    height: 32.571428571em;
}
#carruselTop .bgPaperLeft {
    bottom: 0;
    left: 0;
    text-align: left;
    padding-left: 1.5em;
    padding-top: 1.714285714em;
    height: 138px;
    width: 623px;
}
#carruselTop .titleItem {
    font-size: 2.857142857em;
}
#carruselTop .titleItem {
    font-size: 2.857142857em;
    height: 2.4em;
    display: block;
    margin-top: 0.428571429em;
}
/*-*-*-*-*-*-*-*-*-*-*-* pager Carrusel Top Styles *-*-*-*-*-*/
#pagerCarruselTop .pagerContent {
    width: 27em;
}
#pagerCarruselTop .pagerItem {
    margin: 0 1.714285714em;
}
#pagerCarruselTop .linePager {
    width: 22em;
    left: 25.5em;
}
#pagerCarruselTop {
    margin: 1.428571429em 0;
}
/*-*-*-*-*-*-*-*-*-*-*-* contentContentLeft Styles *-*-*-*-*-*/
#contentContentLeft {
    width: 22.5em;
}
#contentContentLeft ul li.itemList {
    width: 100%;
    margin-bottom: 2.142857143em;
}
#contentListLeft .wrapImg {
    width: 22.5em;
    height: 30em;
}
#contentContentLeft .titleItem {
    font-size: 1.857142857em;
    line-height: 1.5em;
    color: #000;
}
#contentContentLeft .teaserItem {
    color: #000;
    font-size: 1.071428571em;
    line-height: 1.285714286em;
}
/*-*-*-*-*-*-*-*-*-*-*-* contentContentRight Styles *-*-*-*-*-*/
#contentContentRight {
    width: 22.142857143em;
}
#contentContentRight .wrapImg {
    width: 22.142857143em;
    height: 14.285714286em;
}
#contentContentRight .titleItem {
    font-size: 1.785714286em;
    line-height: 1.2em;
}
#contentContentRight ul li {
    margin-bottom: 2.142857143em;
    text-align: center;
}
/*-*-*-*-*-*-*-*-*-*-*-* boda Styles *-*-*-*-*-*/
#bodaWrapper .borderSeparator {
    width: 41.928571429em;
    border-top: 1px solid #c3c3c3;
}
#bodaWrapper .imagesWrapper .wrapImg {
    width: 11.214285714em;
    height: 22.214285714em;
}
.bodaSection {
    width: 46.785714286em;
}
.bodaSection ul li {
    margin-right: 0.642857143em;
}
.bodaSection ul li:last-child {
    margin: 0;
}
.teaserItem {
    font-size: 1.571428571em;
    line-height: 1.285714286em;
}
.titleItem {
    font-size: 3.571428571em;
    line-height: 1em;
}
.textAux {
    color: #7cc9c3;
    font-size: 1.571428571em;
    margin: 1em 0 0.5em;
}
#bodaWrapper .secondSection {
    margin-top: 0;
}
#bodaWrapper .teaserItem {
    font-size: 1.071428571em;
    float: left;
}
.secondSection .wrapImg {
    margin-bottom: 2em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Perfiles Styles *-*-*-*-*-*/
#perfilesWrapper .titleItem {
    font-size: 3.285714286em;
}
#perfilesWrapper .bgPaperRight {
    padding: 0 40px;
    width: 498px;
    position: absolute;
    right: 0;
    top: 13.142857142em;
}
#perfilesWrapper .sectionBlock {
    width: 71.5em;
    margin-left: 1.642857143em;
    margin-top: 0;
}
#perfilesWrapper .imgBack {
    width: 35.285714286em;
    height: 53em;
}
#perfilesWrapper .imgFront {
    width: 21em;
    left: 200px;
    top: 25.857142857em;
    margin: 0;
    height: 31.5em;
}
#perfilesWrapper .wrapImg {
    background: white;
    padding: 3px;
}

/*-*-*-*-*-*-*-*-*-*-*-* Personajes Styles *-*-*-*-*-*/
#personajesWrapper .sectionBlockLarge {
    padding: 1em;
}
#personajesWrapper .wrapImg {
    width: 71.142857143em;
    height: 29em;
}
#personajesWrapper .bgPaperRight {
    right: 1em;
    top: 9em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Belleza Styles *-*-*-*-*-*/
#bellezaWrapper .sectionBlockLarge {
    padding: 0 0 1em;
    float: right;
}
#bellezaWrapper .itemList {
    float: left;
    width: 23.571428571em;
    margin: 0 0.357142857em 2.142857143em;
    height: 29.285714286em;
    overflow: hidden;
}
#bellezaWrapper .itemList .wrapImg {
    width: 23.571428571em;
    height: 23.571428571em;
    margin: 0 0 1em;
}
#bellezaWrapper .itemList .titleItem {
    font-size: 2em;
    line-height: 1.2em;
}
#bellezaWrapper .listImgs {
    display: inline-block;
    margin: 3em 0.142857143em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Texto Llaves Styles *-*-*-*-*-*/
#keysWrapper {
    height: 18em;
}
.keysContent {
    width: 57.142857143em;
    margin: 0 auto;
    padding: 3.214285714em 0;
    height: 9.571428572em;
}
.keysContent .usernameTwitterWrapper {
    width: 100%;
    text-align: right;
}
.keysContent .usernameTwitterWrapper .textAux {
    font-size: 1.857142857em;
}
.keysContent .keyText {
    font-size: 2.428571429em;
    line-height: 1.1em;
}
#keysWrapper .wrapImg {
    width: 5.714285714em;
    height: 16.142857143em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Styles *-*-*-*-*-*/
#loquieroWrapper {
    overflow: hidden;
    padding-bottom: 3.357142857em;
}
#loquieroWrapper .listColumnRight {
    margin-top: 2em;
}
#loquieroWrapper .sectionBlockLarge {
    padding: 3.071428571em 1em;
}
#loquieroWrapper .mainImageBlock {
    width: 46.428571429em;
    height: 51.785714286em;
    margin-top: 0;
}
#loquieroWrapper .columnRight {
    width: 22.857142857em;
}
#loquieroWrapper .columnRight .titleItem {
    font-size: 2.285714286em;
}
#loquieroWrapper .listColumnRight .wrapImg {
    margin: 0;
    width: 100%;
}
#loquieroWrapper .listColumnRight li {
    position: relative;
    height: 13.714285714em;
    margin-bottom: 0.714285714em;
}

#loquieroWrapper .titleWrapp {
    bottom: 1em;
    left: -.4em;
}
#loquieroWrapper .columnRight li .titleItem,#loquieroWrapper #columnBottom .itemList .titleItem {
    font-size: 1.571428571em;
    padding: 0 0.5em;
    height: 2.3em;
    text-align: left;
    overflow: hidden;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Bottom *-*-*-*-*-*/
#loquieroWrapper #columnBottom {
    width: 100%;
}
#loquieroWrapper #columnBottom .itemList {
    width: 22.857142857em;
    height: 22.857142857em;
    margin: 0;
}
#loquieroWrapper #columnBottom .listColumnRight {
    display: inline-block;
}

#loquieroWrapper #columnBottom ul li:nth-child(2) {
    margin: 0 0.714285714em!important;
}
#loquieroWrapper #columnBottom .titleItem {
    font-size: 3.285714286em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Social Spot Styles *-*-*-*-*-*/
#socialSpotWrapper .titleItem {
    font-size: 4.571428571em;
    line-height: 1.1em;
}
#socialSpotWrapper .bgSiteAux {
    background-color: #e2e9e2;
    height: 1.785714286em;
}
#socialSpotWrapper .sectionBlockLarge {
    margin-top: 4.2em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Bombón Styles *-*-*-*-*-*/
#bombonWrapper .bombonHeader {
    margin: -0.5em auto 0;
}
#bombonWrapper .sectionBlockLarge {
    padding: 1em;
}
#bombonWrapper .wrapImg {
    width: 71.142857143em;
    height: 29em;
}
#bombonWrapper .bgPaperRight {
    right: 1em;
    top: 9em;
}
#bombonWrapper .bgPaperRight .titleItem {
    font-size: 4.571428571em;
}
#bombonWrapper .bgPaperContent {
    padding: 1.857142857em 0.5em 0 3.285714286em;
    height: 16.142857143em;
    overflow: hidden;
}
/*-*-*-*-*-*-*-*-*-*-*-* Bodas Large Styles *-*-*-*-*-*/
#bodasLargeWrapper .sectionBlockLarge {
    padding: 2.142857143em 1.428571429em;
}
#bodasLargeWrapper .sectionBlockLarge .wrapImg {
    margin: 0;
    width: 16.78em;
    height: 33.071428571em;
}
#bodasLargeWrapper .sectionBlockLarge .itemList {
    margin-right: 1.071428571em;
}
#bodasLargeWrapper .sectionBlockLarge .itemList:nth-child(4) {
    margin: 0;
}
#bodasLargeWrapper .imagesWrapper {
    margin: 2.071428571em 0 2.857142857em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Image Large Styles *-*-*-*-*-*/
#beginImageLarge .sectionBlockLarge .wrapImg {
    box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 29px 2px rgba(0,0,0,0.1);
}
/*-*-*-*-*-*-*-*-*-*-*-* Ver más Styles *-*-*-*-*-*/
#vermasWrapper {
    margin-bottom: 2.8em;
}
#mainVideo {
    height: 31.857142857em;
}
#mainVideo .wrapImg {
    width: 46.785714286em;
    height: 28.571428571em;
}
#otherItemsWrapper .wrapImg {
    width: 10.714285714em;
    height: 7.142857143em;
}
#otherItemsWrapper a {
    margin-left: 0.7em;
}
#vermasWrapper a.textAux {
    bottom: .6em;
    right: 2.2em;
    margin: 0;
}
#mainVideo .footerImg {
    font-size: 1.785714286em;
    padding: .3em .4em .4em;
    height: 1.2em;
    overflow: hidden;
    line-height: 1.3em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Carrusel Suplementos Styles *-*-*-*-*-*/
#suplementosWrapper {
    width: 100%;
    margin-bottom: 2.714285714em;
}
#suplementosContent{
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 2%, rgba(53,48,48,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(0,0,0,1)), color-stop(100%,rgba(53,48,48,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 2%,rgba(53,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,1) 2%,rgba(53,48,48,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 2%,rgba(53,48,48,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 2%,rgba(53,48,48,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#353030',GradientType=0 ); /* IE6-9 */
}

#owl-demo .item{
    margin: 3px;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.globoWrapper {
    background: #73cac1;
    color: white;
    display: inline-block;
    border-radius: 0 0.428571429em 0.428571429em 0;
    padding: 0.3em 0 0.6em 0.6em;
    width: 14.928571429em;
    text-align: left;
    position: relative
}
.globoWrapper span {
    font-size: 1.6em;
    line-height: 1.5em;
}
.globoWrapper:before
{
    position:absolute;
    bottom: -0.285714286em;
    right: 3.857142857em;
    border-right: 0.357142857em solid transparent;
    border-top: 0.285714286em solid #73cac1;
    border-left: 0.357142857em solid transparent;
    width: 0;
    content:" ";
}
#suplementosWrapper .globoWrapper {
    margin-bottom: 1.714285714em;
}
#suplementosWrapper .item {
    text-align: center;
}
#suplementosWrapper .titleItem {
    font-size: 1.785714286em;
}
#pagerSuplementos {
    margin: 1em 0;
    width: 100%;
}
.pagerContent .pagerItem {
    margin: 0 0.571428571em;
    width: 1.714285714em;
    text-align: center;
}
.circleItem {
    background: black;
    border-radius: 7px;
    width: 0.857142857em;
    display: block;
    height: 0.857142857em;
    margin: 0 auto;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;

}
.pagerContent .active .circleItem, .circleItem:hover {
    background: #71cdc2;
    width: 100%;
}
#suplementosWrapper .pagerItem:first-child {
    margin-left: 0;
}
#suplementosWrapper .pagerItem:last-child {
    margin-right: 0;
}
.pagerContent {
    width: 14.357142857em;
    margin-left: auto;
    margin-right: auto;
    height: 0.857142857em;
}
.linePager {
    width: 12.785714286em;
    height: 1px;
    border-top: 1px dotted black;
    position: absolute;
    left: 17em;
    top: 0.4em;
    z-index: 0;
}
#mainVideo .wrapImg .videoIconBig {
    position: absolute;
    left: 20em;
    top: 10.607142857em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero First Styles *-*-*-*-*-*/
#loquieroWrapperFirst .loquieroHeader {
    margin: -0.428571429em auto 0;
}
#loquieroWrapperFirst {
    padding-bottom: 3em;
    float: left;
}
/*-*-*-*-*-*-*-*-*-*-*-* Carrusel Lo quiero Styles *-*-*-*-*-*/
#carruselLoquiero {
    position: relative;
}
#carruselLoquiero .wrapImg {
    width: 26.428571429em;
    float: right;
    margin-left: 2em;
    height: 15.6em;
}
#carruselLoquiero .itemCarrusel {
    padding: 2.142857143em 0 2.142857143em 5.857142857em;
    margin-bottom: 1.285714286em;
    height: 15.714285714em;
}
#carruselLoquiero .arrowNext, #carruselLoquiero .arrowPrev {
    top: 7.5em;
    position: absolute;
}
#carruselLoquiero .arrowPrev {
    left: 1.285714286em;
}
#carruselLoquiero .arrowNext {
    right: 1.285714286em;
}
#carruselLoquiero .titleItem {
    font-size: 3.285714286em;
    line-height: 1.3em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Left Styles *-*-*-*-*-*/
#loQuieroBottom {
    width: 66.714285714em;
    margin: 0 auto;
}
#loQuieroBottom .textAux {
    margin-top: 0;
}
#loQuieroLeft {
    width: 37.142857143em;
}
#loQuieroLeft .titleItem {
    font-size: 3.285714286em;
    line-height: 1.2em;
}
#loQuieroLeft .teaserItem {
    line-height: 1.2em;
}
#loQuieroLeft .sectionBlockLarge {
    padding: 0;
}
#loQuieroLeft .sectionBlockLarge .wrapImg {
    width: 37.142857143em;
    height: 37.142857143em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Right Styles *-*-*-*-*-*/
#loQuieroRight {
    width: 25.714285714em;
}
#loQuieroRight .itemList {
    width: 10.714285714em;
    text-align: center;
    margin-bottom: 1.857142857em;
}
#loQuieroRight .wrapImg {
    width: 100%;
    height: 10.714285714em;
}
#loQuieroRight .itemList .titleItem {
    font-size: 1.428571429em;
    line-height: 1.2em;
}
#loQuieroRight .itemList:nth-child(3) {
    width: 100%;
    margin-bottom: 4.5em;
}
#loQuieroListRight .itemList:nth-child(2), #loQuieroListRight .itemList:nth-child(5) {
    float: right;
    margin-right: 0.857142857em;
}
#loQuieroRight .itemList:nth-child(3) .wrapImg {
    height: 17.142857143em;
    width: 25.714285714em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Síguenos Styles *-*-*-*-*-*/
#followUsWrapper .wrapImg {
    height: 5em;
    width: 57.857142857em;
    margin: 0 auto 5em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Wrapper Second & Third Styles *-*-*-*-*-*/
#loquieroWrapperSecond .wrapImg, #loquieroWrapperThird .wrapImg{
    padding: 1.428571429em;
}
#loquieroWrapperSecond .loquieroHeader, #loquieroWrapperThird .loquieroHeader{
    margin: -0.428571429em auto 0;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*_*_*_*_*_*_*_*_*_*_*_*_*_* Canales Styles *_*_*_*_*_*_*_*_*_*_*_*_*_*/
#relacionadosCanal .itemList {
    float: left;
    width: 22.5em;
    height: 27.142857143em;
}
.canalesClass .wrapImg {
    width: 22.5em;
    height: 15em;
    float: left;
}
.canalesClass .titleItem {
    font-size: 1.785714286em;
    line-height: 1.12em;
}
.canalesClass .teaserItem {
    font-size: 1.071428571em;
    margin-top: 0.5em;
    text-align: left;
    min-height: 4.071428571em;
}
.sharesIconsItem {
    margin-top: 1em;
}
.sharesIconsItem .shareItem {
    margin-right: 1em;
}
#relacionadosCanal .itemList:nth-child(2), #relacionadosCanal .itemList:nth-child(4),#relacionadosCanal .itemList:nth-child(7),#relacionadosCanal .itemList:nth-child(9) {
    float: right;
}
#relacionadosCanal .itemLarge {
    height: 15em;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 1.357142857em;
}
.canalesClass .textAux {
    color: #73cac1;
    font-size: 1.142857143em;
    font-weight: bold;
    margin: 2.3em 0 .3em;
}
.canalesClass .itemContentRight {
    width: 22.5em;
    padding-top: 1.4em;
}
.canalesClass .itemLarge .bgShadowSmallTop {
    width: 340px;
    background-position: -640px -1976px;
    margin-top: -0.5em;
}
.canalesClass .itemLarge .bgShadowSmallBottom {
    width: 340px;
    background-position: -649px -2016px;
    margin-top: -0.1em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Carrusel Top Small Styles *-*-*-*-*-*/
#carruselTopSmallWrapper {
    margin-top: 0.642857143em;
}
#carruselTopSmall {
    width: 100%;
    margin: 0.857142857em auto 0.5em;
}
#carruselTopSmall .arrowNext, #carruselTopSmall .arrowPrev {
    z-index: 1;
    top: 9em;
}
#carruselTopSmall .arrowPrev {
    left: 1.428571429em;
}
#carruselTopSmall .arrowNext {
    right: 1.428571429em;
}
#carruselTopSmall .wrapImg {
    height: 25em;
    width: 46.785714286em;
}
#carruselTopSmall .bgPaperLeft {
    bottom: 0;
    left: 0;
    text-align: left;
    padding-left: 1.5em;
    padding-top: 1.714285714em;
    height: 116px;
    width: 479px;
    background-position: -142px -172px;
}
#carruselTopSmall .textAux {
    font-size: 1.285714286em;
}
#carruselTopSmall .titleItem {
    font-size: 2.714285714em;
    height: 2em;
    display: block;
    margin-top: 0.3em;
}
/*-*-*-*-*-*-*-*-*-*-*-* pager Carrusel Top Small Styles *-*-*-*-*-*/
#pagerCarruselTopSmall .pagerContent {
    width: 27em;
}
#pagerCarruselTopSmall .pagerItem {
    margin: 0 1.714285714em;
}
#pagerCarruselTopSmall .linePager {
    width: 22em;
    left: 12.5em;
}
#pagerCarruselTopSmall {
    margin: 1.428571429em 0;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-* Carrusel Top Small Nodes Styles *-*-*-*-*-*/
#carruselTopNodeWrapper {
    margin-top: 0.642857143em;
}
#carruselTopNode {
    width: 100%;
    margin: 0.857142857em auto 0.5em;
    min-height: 18.928571429em;
}
#carruselTopNode .arrowNext, #carruselTopNode .arrowPrev {
    z-index: 1;
    top: 6em;
}
#carruselTopNode .arrowPrev {
    left: 0.714285714em;
}
#carruselTopNode .arrowNext {
    right: 0.714285714em;
}
#carruselTopNode .wrapImg {
    width: 46.785714286em;
}
#carruselTopNode .textAux {
    font-size: 1.285714286em;
}
#carruselTopNode .titleItem {
    font-size: 2.714285714em;
    height: 2em;
    display: block;
    margin-top: 0.3em;
}
#carruselTopNode .teaserCarrusel {
    font-size: 1em;
    border-bottom: 1px solid #c6c6c6;
    padding: 0.6em 0;
}
#carruselTopNodeWrapper .bgShadowSmallBottom {
    margin: 1em auto 1.928571429em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Thumbnails Carrusel Nota Styles *-*-*-*-*-*/
#thumbnailsCarrusel {
    position: relative;
    width: 100%;
}
.thumbsImages .wrapImg {
    width: 9.071428571em;
    float: left;
    margin: 0 0.642857143em;
}
#thumbnailsCarrusel .arrowPrevSmall, #thumbnailsCarrusel .arrowNextSmall {
    top: 1.5em;
    position: absolute;
}
.thumbsImages {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 41.428571429em;
}
#thumbnailsCarrusel .arrowNextSmall {
    right: 0;
}
/*-*-*-*-*-*-*-*-*-*-*-* Cuerpo de la Nota Styles *-*-*-*-*-*/
#nodeBodyLeft {
    width: 9.071428571em;
}
#nodeBodyRight {
    width: 37.714285714em;
}
#nodeBodyRight h2 {
    font-family: 'Titillium Web';
    font-size: 1.571428571em;
    font-weight: bold;
}
#nodeBodyRight p {
    font-family: Tinos;
    font-size: 1.428571429em;
}
#relacionadosBottomNota {
    width: 100%;
}
#relacionadosBottomNota .relacionadosItemList {
    float: right;
    width: 100%;
}
#relacionadosBottomNota .textAux {
    margin: 0 0.2em 0 0;
}
#relacionadosBottomNota .relacionadosItemList a, #relacionadosBottomNota .relacionadosItemList,#relacionadosBottomNota .textAux {
    font-size: 1.142857143em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Comentarios facebook de la Nota Styles *-*-*-*-*-*/
#comentariosFacebookWrapper {
    margin: 0 3.214285714em 3.214285714em;
}
#comentariosFacebookWrapper .comentariosBig {
    margin-bottom: 0.785714286em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Otras Notas Styles *-*-*-*-*-*/
#otrasNotasWrapper .textAux {
    margin-bottom: 0;
}
#otrasNotasContent li {
    width: 21.428571429em;
}
#otrasNotasWrapper li .wrapImg {
    width: 8.928571429em;
    height: 6em;
}
#otrasNotasContent .titleWrapp {
    width: 11.642857143em;
    height: 84px;
    overflow: hidden;
}
#otrasNotasContent .titleItem {
    font-size: 1.571428571em;
}
#otrasNotasContent .titleWrapp {
    width: 11.642857143em;
    height: 5em;
    overflow: hidden;
}
#otrasNotasContent li:nth-child(2),#otrasNotasContent li:nth-child(3),#otrasNotasContent li:nth-child(6) {
    float: right;
}
#otrasNotasContent li {
    width: 21.428571429em;
    margin-bottom: 2.5em;
}
#otrasNotasContent {
    margin-top: 0.928571429em;
}
#otrasNotasWrapper .bgShadowDown {
    margin-top: 0.785714286em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Columna Más Vistos Styles *-*-*-*-*-*/
#topVistosList li .wrapImg {
    width: 8.928571429em;
    height: 6em;
}
.titleTopVistos {
    width: 8.928571429em;
    height: 6em;
    margin-left: 14px;
    display: table;
}
.titleVistosWrapper {
    display: table-cell;
    vertical-align: middle;
}
.titleVistosWrapper {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.571428571em;
}
#topVistosList .top-vistos-item {
    padding: 1.357142857em 0;
    border-bottom: 1px solid #73cac1;
}
/*-*-*-*-*-*-*-*-*-*-*-* Shares Bottom Styles *-*-*-*-*-*/
#sharesNotaBottom {
    margin: 2.5em 0 3.214285714em;
}
.sharesContent {
    margin: 0.857142857em 0 0.714285714em;
}
#sharesNotaBottom .fb-like {
    margin-right: 1.5em;
}
/*-*-*-*-*-*-*-*-*-*-*-* Shares Nota Left Styles *-*-*-*-*-*/
#sharesNotaLeft .shareItem {
    margin-bottom: 1em;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*_*_*_*_*_*_*_*_*_* Sprite Styles *_*_*_*_*_*_*_*_*_*/
.spriteIcons{
    background: url('../images/sprite_rsvp.png') no-repeat;
}
.facebookIcon,.twitterIcon,.googleIcon,.telegramIcon{
    width: 34px;
    height: 34px;
    display: inline-block;
}
.facebookIcon {
    background-position: -395px -101px;
}
.twitterIcon {
    background-position: -434px -101px;
}
.googleIcon {
    background-position: -473px -101px;
}
.telegramIcon {
    background-position: -512px -101px;
}
.bgShadowBig,.bgShadowDown{
    width: 667px;
    height: 8px;
}
.bgShadowBig {
    background-position: -348px -1976px;
}
.bgShadowDown {
    background-position: -348px -2016px;
}
.bodaIcon {
    background-position: -11px -1542px;
    width: 148px;
    height: 99px;
}
.blackSeparator{
    background-position: 0 -707px;
    width: 1026px;
    height: 50px;
}
.voidSeparator{
    background-position: 0 -785px;
    width: 1026px;
    height: 30px;
}
.loquieroHeader {
    background-position: -204px -1540px;
    width: 346px;
    height: 154px;
}
.bombonHeader {
    background-position: -570px -1539px;
    width: 344px;
    height: 159px;
}
.bgPaperLeft {
    background-position: -2px -172px;
    width: 644px;
    height: 162px;
}
.bgPaperRight {
    background-position: -8px -861px;
    width: 578px;
    height: 287px;
}
.openKey,.closeKey{
    width: 82px;
    height: 224px;
}
.openKey {
    background-position: 0 -1250px;
}
.closeKey {
    background-position: -942px -1250px;
}
.listonBg {
    background-position: -11px -1176px;
    width: 255px;
    height: 55px;
}
.socialSpotHeader{
    background-position: 0 -1723px;
    width: 1024px;
    height: 73px;
}
.listonVermas {
    background-position: -17px -513px;
    width: 664px;
    height: 86px;
}
.globoSupl{
    background-position: -5px -633px;
    width: 219px;
    height: 48px;
}
.videoIconBig{
    background-position: -1px -365px;
    width: 103px;
    height: 130px;
}
.arrowNext, .arrowPrev{
    width: 36px;
    height: 64px;
}
.arrowPrev{
    background-position: -11px -86px;
}
.arrowPrev:hover{
    background-position: -56px -86px;
}
.arrowNext{
    background-position: -181px -86px;
}
.arrowNext:hover{
    background-position: -141px -86px;
}
.arrowPrevSmall, .arrowNextSmall{
    width: 20px;
    height: 35px;
}
.arrowPrevSmall{
    background-position: -36px -2117px;
}
.arrowPrevSmall:hover{
    background-position: -14px -2117px;
}
.arrowNextSmall{
    background-position: -118px -2117px;
}
.arrowNextSmall:hover{
    background-position: -141px -2117px;
}
.faceIconItem {
    background-position: -21px -2074px;
    width: 9px;
    height: 17px;
}
.faceIconItem:hover {
    background-position: -127px -2074px;

}
.twitterIconItem {
    background-position: -47px -2075px;
    width: 21px;
    height: 14px;
}
.twitterIconItem:hover {
    background-position: -153px -2075px;
}
.googleIconItem {
    background-position: -81px -2075px;
    width: 18px;
    height: 15px;
}
.googleIconItem:hover {
    background-position: -187px -2075px;
}
.bgShadowSmallBottom, .bgShadowSmallTop{
    width: 535px;
    height: 8px;
}
.bgShadowSmallBottom{
    background-position: -341px -1886px;
}
.bgShadowSmallTop{
    background-position: -341px -1834px;
}
.comentariosSmall {
    background-position: -14px -1983px;
    width: 100px;
    height: 28px;
}
.comentariosBig {
    background-position: -141px -1983px;
    width: 190px;
    height: 53px;
}
.bgSeparatorBottom, .bgSeparatorTop{
    width: 535px;
    height: 8px;
}
.bgSeparatorTop{
    background-position: -341px -1976px;
}
.bgSeparatorBottom{
    background-position: -341px -2016px;
}

