<?php
require_once(__DIR__.'/video.helpers.inc');

//If the User-Agent es a bot, let it go
$interception=true;
if(is_bot()){
  $interception=false;
}

//Evaluate cookie if $interception=true
if($interception){
  $prehomeConfig=null;
  $showVideo=show_videopo2();
  if($showVideo){
    require_once(__DIR__.'/video.template.php');
  }else{
    echo "No video, carga normal";
  }
}
?>
