/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Left Styles *-*-*-*-*-*/
.rsvp-grid-iwant {
  width: 1004px;
  margin: 0 auto;
}
.rsvp-grid-iwant .textAux {
  margin-top: 0;
}
.rsvp-grid-iwant #loQuieroLeft {
  width: 560px;
  padding:0 10px;
}
.rsvp-grid-iwant #loQuieroLeft .titleItem {
  font-size: 46px;
  line-height: 48px;
}
.rsvp-grid-iwant #loQuieroLeft .teaserItem {
  font-size:22px;
  line-height: 24px;
}
.rsvp-grid-iwant #loQuieroLeft .sectionBlockLarge {
  padding: 0;
}
.rsvp-grid-iwant #loQuieroLeft .sectionBlockLarge .wrapImg {
  width: 100%;
  height: 520px;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Right Styles *-*-*-*-*-*/
.rsvp-grid-iwant #loQuieroRight {
  width: 400px;
}
.rsvp-grid-iwant #loQuieroRight .itemList {
  width: 160px;
  text-align: center;
  margin-bottom: 30px;
}
.rsvp-grid-iwant #loQuieroRight .wrapImg {
  width: 160px;
  height: 160px;
}
.rsvp-grid-iwant #loQuieroRight .itemList .titleItem {
  font-size: 20px;
  line-height: 22px;
}
.rsvp-grid-iwant #loQuieroRight .itemList:nth-child(3) {
  width: 100%;
  margin-bottom: 30px;
}
.rsvp-grid-iwant #loQuieroListRight .itemList:nth-child(2), #loQuieroListRight .itemList:nth-child(5) {
  float: right;
  margin-right: 10px;
}
.rsvp-grid-iwant #loQuieroRight .itemList:nth-child(3) .wrapImg {
  height: 150px;
  width: 372px;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Styles *-*-*-*-*-*/
.rsvp-grid-special {
  overflow: hidden;
  width:1024px;
  height:100%;
  margin:0;
  padding:0;
}
.rsvp-grid-special .listColumnRight {
  margin-top: 40px;
}
.rsvp-grid-special .sectionBlockLarge {
  padding: 20px 10px;
}
.rsvp-grid-special .sectionBlockLarge > a{
  float:left;
}
.rsvp-grid-special .mainImageBlock {
  width: 650px;
  height: 725px;
  margin-top: 0;
}
.rsvp-grid-special .columnRight {
  width: 340px;
  float:right;
  margin-right: 10px;
}
.rsvp-grid-special .columnRight .titleItem {
  font-size: 32px;
  line-height: 34px;
}
.rsvp-grid-special .listColumnRight .wrapImg {
  margin:0;
  width:320px;
  height:192px;
}
.rsvp-grid-special .listColumnRight li {
  position: relative;
  height: 192px;
  margin-bottom: 10px;
}
.rsvp-grid-special .titleWrapp {
  bottom: 20px;
  left: 0px;
}
.rsvp-grid-special .columnRight li .titleItem,.rsvp-grid-special #columnBottom .itemList .titleItem {
  font-size: 20px;
  line-height: 24px;
  padding: 0 10px;
  text-align: left;
  overflow: hidden;
}
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Bottom *-*-*-*-*-*/
.rsvp-grid-special #columnBottom {
  width: 100%;
}
.rsvp-grid-special #columnBottom .itemList {
  width: 22.857142857em;
  height: 22.857142857em;
  margin: 0;
}
.rsvp-grid-special #columnBottom .listColumnRight {
  display: inline-block;
}
.rsvp-grid-special #columnBottom ul li:nth-child(2) {
  margin: 0 0.714285714em!important;
}
.rsvp-grid-special #columnBottom .titleItem {
  font-size: 32px;
  line-height: 34px;
}
.rsvp-grid-special .mainImageBlock img{
  width:650px;
  height:725px;
} 
/*-*-*-*-*-*-*-*-*-*-*-* Lo quiero Bottom *-*-*-*-*-*/
.rsvp-grid-columns {
  width: 100%;
  text-align: center;
}
.rsvp-grid-columns .heraBig{
  text-align: center;
  font-size:22px;
}
.rsvp-grid-columns .itemList {
  width: 320px;
  height: 320px;
  margin: 0;
}
.rsvp-grid-columns .listColumnRight {
  display: inline-block;
  padding:0;
  margin:0;
}
.rsvp-grid-columns ul li:nth-child(2) {
  margin: 0  10px !important;
}
.rsvp-grid-columns .titleItem {
  font-size: 46px;
  line-height: 48px;
  padding:0 20px 20px 20px;
}
.rsvp-grid-columns .itemList .titleItem {
  font-size: 18px;
  line-height: 20px;
  overflow: hidden;
  padding: 0 10px;
  text-align: left;
}
.rsvp-grid-columns .wrapImg img{
  width:320px;
  height:320px;
}
.rsvp-grid-columns .listonBg{
  bottom: 0;
  left: -5px;
}
#block-block-3{
  clear:both;
  margin:20px 0;
  width:1024px;
  height:70px;
}
#followUsWrapper{
  margin:0 auto!important;
  width:810px;
}
#followUsWrapper .wrapImg{
  width:100%;
}
/*-*-*-*-*-*-*-*-*-*-*-* Belleza Styles *-*-*-*-*-*/
.rsvp-grid-profile .sectionBlockLarge {
  padding: 20px 0 0 0;
}
.rsvp-grid-profile .section{
  padding:20px 0;
}
.rsvp-grid-profile .titleItem{
  font-size:56px;
  line-height:58px;
  padding:0 40px;
}  
.rsvp-grid-profile .itemList {
  float: left;
  margin: 0 10px 0 0;
  padding:0;
  overflow: hidden;
  width: 320px;
  min-height:430px;
}
.rsvp-grid-profile .itemList .wrapImg {
  width: 320px;
  height: 320px;
  margin: 0 0 10px;
}
.rsvp-grid-profile .itemList .titleItem {
  font-size: 28px;
  line-height: 30px;
  padding: 0 10px;
}
.rsvp-grid-profile .listImgs {
  display: inline-block;
  margin: 20px 10px;
  padding:0;
}
.rsvp-grid-profile ul li:nth-child(4),.rsvp-grid-profile ul li:nth-child(7){
  clear:left; 
}
